/* Mobile view */
@media only screen and (max-width: 600px) {
    #avatar {
        width: 120px;
        height: 100px;
    }

    .profilePicture {
        height: 100px;
        width: 100px;
    }

    .header {
        height: 200px;
    }

    .header div h1 {
        font-size: 26px;
    }

    .header div {
        font-size: 20px;
    }
}

/* Desktop view */
@media only screen and (min-width: 600px) {
    #avatar {
        width: 220px;
        height: 200px;
    }

    .profilePicture {
        height: 200px;
        width: 200px;
    }

    .header {
        height: 350px;
    }

    .header div h1 {
        font-size: 30px;
    }

    .header div {
        font-size: 26px;
    }
}

/* General */
.transition {
    transition: all 750ms;
}
